
div.container {
    position: relative;
    
    div.header_banner {
        position: relative;
        width: 100%;
        height: 85vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;

        @include large_tablets {
            height: 55vh;
        }

    }

    div.header_slogan {
        @include header_slogan_style;

        span.chinese {
            @include header_slogan_font;
            display: block;
            color: $normalBgColor;
        }

        span.english {
            @include header_slogan_en_font;
            color: $normalBgColor;
        }
    }
}