@mixin header_slogan_style {
    position: absolute;
    top: 55%;
    right: 50%;
    transform: translate(50%,-50%);
    text-align: center;
    text-shadow: 0 0 4px rgba(71, 63, 59, 0.5);
}

@mixin hover_rotate {
    transition: .2s;
    animation:rotate .5s ease;
    background-color: #C2A16C;
}

@mixin sign_in_btn {
    @include paragraph;
    width: 100%;
    display: block;
    margin: 0 auto 20px;
    padding: 6px 0;
    cursor: pointer;
    border-radius: 8px;
    color: $normalColor;
    background-color: $primaryColor;
    transition: .2s;

    &:hover {
        transition: .2s;
        background-color: $hoverBtnColorB;
    }
}