// text
$primaryText: #4b4331;
$importantText: #D9042B;
$importantColor: #D9042B;
$subtitleText: #D74C38;
$primaryColor: #D74C38;
$secondaryText: #C2A16C;
$secondaryColor: #C2A16C;
$grayText: #676664;

// background-color
$homeBgColor: #FFC93D;
$aboutBgColor: #A3CB7E;
$productsBgColor: #F8F3EB;
$productsSetsBgColor: #D74C38;
$hamburgerBgColor: #D74C38;
$textBgColor: #FFECB5;
$footerBgColor: #F8F3EB;
$normalBgColor: #fff;


// button
$normalBtnColor: #FFC93D;
$importantBtnColor:#D74C38;

// hover button
$hoverBtnColorR: #D74C38;
$hoverBtnColorY:#FFC93D;
$hoverBtnColorB: #C2A16C;
$hoverBtnColorW: #fff;

// border
$borderColor: #d4d4d4;