// text
$primaryTextColor: #4f493b;
$footerTextColor: #865a32;
$importantColor: #d9042b;
$primaryColor: #d74c38;
$secondaryColor: #c2a16c;
$decorationColor: #ffc93d;
$remarkColor: #959493;
$normalColor: #fff;

// background-color
$homeBgColor: #ffc93d;
$aboutBgColor: #a3cb7e;
$productsBgColor: #f8f3eb;
$productsSetsBgColor: #d74c38;
$hamburgerBgColor: #d74c38;
$textBgColor: #ffecb5;
$footerBgColor: #f8f3eb;

// button
$normalBtnColor: #ffc93d;
$importantBtnColor: #d74c38;
$lightGrayColor: #f0f0f0;

// hover button
$hoverBtnColorR: #d74c38;
$hoverBtnColorY: #ffc93d;
$hoverBtnColorB: #c2a16c;
$hoverBtnColorW: #fff;

// border
$borderColor: #d4d4d4;

