@import '@/assets/scss/base/variable.scss';
@import '@/assets/scss/base/fonts/fonts-mixin.scss';
@import '@/assets/scss/base/color.scss';


section.chart {
    width: 100%;
    position: relative;
    padding: 0 0 160px 0;
    background-color: $aboutBgColor;

    img.wave02 {
        width: 100%;
        position: absolute;
        top: -180px;
        z-index: 1;
    }
    
    ul.chart_inner {
        max-width: $basewidth;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        padding: 80px 0;
        z-index: 1;
        justify-content: center;
        border-radius: 30px;
        box-sizing: border-box;
        background-color: #fff;
        border: 10px solid #FFC93D;
        background-image: url(/images/home/pattern.jpg);
        
        // 裝飾物 唱歌的雞
        &::before {
            content: '';
            position: absolute;
            width: 200px;
            height: 200px;
            left: 20%;
            top: -340px;
            z-index: 100;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(/images/about/chart/hen_sing.svg);
        }

        &::after {
            content: '';
            position: absolute;
            width: 230px;
            height: 90px;
            top: -70px;
            z-index: 100;
            background-size: contain;
            background-repeat: no-repeat;
            background-image: url(/images/about/chart/list.svg);
        }

        li.step {
            width: 30%;
            position: relative;
            margin: 40px 0;
            text-align: center;

            // 裝飾 雞冠圖素
            &::after {
                content:'';
                width: 105px;
                height: 90px;
                position: absolute;
                top: -30px;
                z-index: -1;
                background-image: url(/images/about/chart/comb.svg);
            }

            // 第一個<li>不顯示雞冠
            &:first-child::after {
                display: none;
            }

            // 裝飾 箭頭圖素
            &::before {
                position: absolute;
                content:'';
                background-image: url(/images/about/chart/arrow.svg);
                width: 65px;
                height: 25px;
                right: -80px;
                top: 120px;
                animation: arrowMovement 1.8s infinite;
            }

            @keyframes arrowMovement {
                0% {
                right: 0px;
                }
                
                50% {
                right: -10px;
                }
                
                100% {
                right: 0px;
                }
            }

            figure {
                position: relative;

                p.first_dialog {
                    @include subtitle_style;
                    top: -50px;
                    left: 90px;
                    position: absolute;
                    font-weight: $fWBold;
                    color: $subtitleText;
                }

                img {
                    border-radius: 50%;
                    margin-bottom: 25px;
                }
            }

            // 第一個<img>去掉圓角
            &:first-child figure > img{
                width: 50%;
                border-radius: 0;
            }

            span.subtitle {
                @include subtitle_style;
                padding: 5px 10px;
                border-radius: 6px;
                color: $subtitleText;
                background-color: $textBgColor;
            }

            figcaption.content {
                @include content_PC;
                margin-top: 25px;
                padding: 0 40px;
                text-align: justify;
            }
        }

        // 按鈕 引導至產品頁
        div.btn_to_products{
            width: 80%;
            margin-top: 130px;
            
            div.illust {
                display: flex;
                position: relative;
                
                img:first-child {
                    width: 150px;
                    position: absolute;
                    left: 5%;
                    bottom: -30px;
                    z-index: -1;
                }

                img:last-child {
                    width: 90px;
                    position: absolute;
                    left: 20%;
                    bottom: 90px;
                    z-index: -1;
                }
            }

            .to_products_page {
                @include h4_PC;
                display: flex;
                padding: 20px 0;
                border-radius: 50px;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                background-color: $normalBtnColor;
                transition: .2s;
    
                &:hover {
                    color: #fff;
                    background-color: $importantBtnColor;
                }
    
                .arrow_right {
                    font-size: 24px;
                    padding-left: 20px;
                }
    
                &:hover > .arrow_right{
                    transform: translateX(5px);
                }
            }
        }
    }
}