
%header_img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    animation: imgAnimate 10s linear infinite;
}

div.carousel_container {
    position: relative;

    div.carousel_list {
        position: relative;
        width: 100%;
        height: 85vh;
        overflow: hidden;
        transition: all 0.5s;

        @include phones {
            height: 70vh;
        }

        div.header_banner2 {
            @extend %header_img;
            background-image: url('/images/home/header-carousel/header_banner2.jpg');
            animation-delay: 5s;
        }

        div.header_banner1 {
            @extend %header_img;
            background-image: url('/images/home/header-carousel/header_banner.jpg');
            animation-delay: 0s;
        }
    }

    img.header_wave {
        bottom: 0;
        max-width:100%;
        position: absolute;
    }

    div.header_slogan {
        position: absolute;
        top: 55%;
        right: 50%;
        transform: translate(50%,-50%);
        text-align: center;
        text-shadow: 0 0 5px rgba(40, 33, 29, 0.5);

        span.chinese {
            @include header_slogan;
            display: block;
            color: $normalBgColor;
        }

        span.english {
            @include header_slogan_en;
            color: $normalBgColor;
        }
    }
}

@keyframes imgAnimate {
    0%{
        opacity: 1;
        transform: scale(1.2);
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: 0;
    }
    to{
        opacity: 0;
        transform: scale(1);
    }
}



