
div.title {
    max-width: $basewidth;
    width: 80%;
    display: flex;
    margin: 50px auto 0;
    align-items: center;

    @include phones {
        flex-direction: column;
    }

    h2 {
        @include h2_en;
        text-align: center;
    }

    div.eggs_line{
        width: 35%;

        @include phones {
            width: 50%;
            margin: auto;
            margin-top: 10px;
        }

        img {
            width: 100%;
            margin-left: 50px;

            @include phones {
                margin-left: 0;
            }
        }
    }
}

div.carousel_item {
    display: flex;
    margin: 10% 0 15%;
    flex-direction: column;

    a {
        cursor: pointer;
        text-decoration: none;
    }

    div.img_eggs {
        width: 300px; 
        height: 300px;
        border-radius: 50%;
        margin-bottom: 10px;
        overflow: hidden;

        &:hover > img {
            transform: scale(1.1);
        }

        img {
            width: 100%;
            border-radius: 50%;
            transition: .4s;          
        }
    }

    div.product {
        display: flex;
        align-items: center;
        justify-content: space-between;

        div.product_info {
            text-align: left;

            span {
                @include small_font;
                font-family: $font_family_en;
            }

            div.product_name {
                @include subtitle_style;
                display: flex;
                margin: 2% 0;
                align-items: flex-end;
                color: $importantText;
                font-weight: $fWBold;
    
                span.product_slogan {
                    @include small_font;
                    margin-left: 5px;
                    color: $importantText;
                    font-family: $font_family_title;
                }
            }
        }

        div.button {                    
            .arrow_right {
                color: $normalBgColor;
                font-size: 14px;
                padding: 15px;
                transition: .3s;
                border-radius: 50%;
                background-color: $importantBtnColor;

                &:hover {
                    background-color: $hoverBtnColorY;
                }
            }

            &:hover > .arrow_right{
                transform: translateX(5px);
            }
        }
    }
}


:deep(.carousel__next) {
    width: 60px;
    height: 60px;
    margin: 0;
    background-color: $normalBgColor;
    border: 1px solid $borderColor;
    border-radius: 50% 0 0 50%;
}

:deep(.carousel__prev) {
    width: 60px;
    height: 60px;
    margin: 0;
    background-color: $normalBgColor;
    border: 1px solid $borderColor;
    border-radius: 0 50% 50% 0;
}

:deep(.carousel__icon) {
    font-size: 2.5rem;
    color: $primaryTextColor;
}
