@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Montserrat:wght@600&family=Noto+Sans+TC:wght@400;500&family=Noto+Sans:wght@400;500&family=Ubuntu:wght@500&family=Zen+Maru+Gothic:wght@400;500&display=swap');

$primaryTextColor: #4f493b;

//📍 字重
$fWRegular: 400;
$fWBold: 500;

//📍 字體
// 標題
$font_family_title: 'Zen Maru Gothic', 'Arial', 'Noto Sans TC', '微軟正黑體',
    sans-serif;
// 內文
$font_family_content: 'Noto Sans TC', 'Arial', '微軟正黑體', sans-serif;
// 英文
$font_family_en: 'Hammersmith One', 'Montserrat', 'Ubuntu', 'Noto Sans',
    'Noto Sans TC', sans-serif;
// 價格
$font_price: 'Ubuntu', 'Noto Sans', 'Hammersmith One', 'Noto Sans TC',
    sans-serif;

//📍 文字大小
// root font-size : 10px (main.scss)
$slogan: clamp(2.8rem, 4vw, 4rem);
$slogan_en: clamp(1.2rem, 3vw, 2.8rem);
$h1: clamp(2.1rem, 4.5vw, 3.6rem);
$h2: clamp(2rem, 3.5vw, 3.2rem);
$h3: clamp(1.8rem, 1.5vw, 2.4rem);
$h4: clamp(1.6rem, 2vw, 2rem);
$en_title: clamp(2.5rem, 6vw, 3.6rem);
$paragraph: clamp(1.4rem, 1.5vw, 1.6rem);
$paragraph_en: clamp(1.2rem, 1.5vw, 1.6rem);
$content_font: clamp(1.3rem, 1.5vw, 1.4rem);
$small_font: 1.2rem;
$price_font: clamp(2.4rem, 3vw, 2.8rem);

@mixin header_slogan_font {
    font-size: $slogan;
    font-weight: $fWBold;
    letter-spacing: 0.3rem;
    font-family: $font_family_title;
}

@mixin header_slogan_en_font {
    font-size: $slogan_en;
    font-weight: $fWBold;
    letter-spacing: 0.15rem;
    font-family: $font_family_en;
}

@mixin h1_vertical {
    font-size: $h1;
    font-weight: $fWBold;
    letter-spacing: 0.5rem;
    line-height: 2;
    font-family: $font_family_title;
    color: $primaryTextColor;
}

@mixin h2_vertical {
    font-size: $h2;
    font-weight: $fWBold;
    letter-spacing: 0.5rem;
    line-height: 2;
    font-family: $font_family_title;
    color: $primaryTextColor;
}

@mixin h1 {
    font-size: $h1;
    font-weight: $fWBold;
    letter-spacing: 0.2rem;
    font-family: $font_family_title;
    color: $primaryTextColor;
}

@mixin h2 {
    font-size: $h2;
    font-weight: $fWBold;
    letter-spacing: 0.2rem;
    font-family: $font_family_title;
    color: $primaryTextColor;
}

@mixin h2_en {
    font-size: $en_title;
    font-weight: $fWBold;
    letter-spacing: 0.2rem;
    font-family: $font_family_en;
    color: #c2a16c;
}

@mixin h3 {
    font-size: $h3;
    font-weight: $fWBold;
    letter-spacing: 0.2rem;
    line-height: 1.5;
    font-family: $font_family_title;
    color: $primaryTextColor;
}

@mixin h4 {
    font-size: $h4;
    font-weight: $fWBold;
    letter-spacing: 0.16rem;
    font-family: $font_family_title;
    color: $primaryTextColor;
}

@mixin subtitle {
    font-size: $paragraph;
    font-weight: $fWRegular;
    letter-spacing: 0.16rem;
    font-family: $font_family_title;
    color: $primaryTextColor;
}

@mixin paragraph {
    font-size: $paragraph;
    letter-spacing: 0.16rem;
    line-height: 2.4;
    font-family: $font_family_content;
    color: $primaryTextColor;
}

@mixin paragraph_en {
    font-size: $paragraph_en;
    letter-spacing: 0.3rem;
    color: $secondaryColor;
    font-family: $font_family_en;
}

@mixin content_font {
    font-size: $content_font;
    font-weight: $fWRegular;
    letter-spacing: 0.16rem;
    line-height: 2;
    color: $primaryTextColor;
    font-family: $font_family_content;
}

@mixin small_font {
    font-size: $small_font;
    font-weight: $fWRegular;
    letter-spacing: 0.05rem;
    color: $primaryTextColor;
    font-family: $font_family_content;
}

@mixin price_font {
    font-size: $price_font;
    font-weight: $fWBold;
    font-family: $font_price;
    color: $primaryTextColor;
}

@mixin footer_font {
    font-size: $paragraph;
    font-weight: $fWBold;
    letter-spacing: 0.16rem;
    font-family: $font_family_title;
    color: #865a32;
}

@mixin header_font {
    font-size: $paragraph;
    font-weight: $fWBold;
    letter-spacing: 0.16rem;
    font-family: $font_family_title;
    color: $primaryTextColor;
}
