@import './fonts.scss';

@mixin h1_PC_vertical {
  font-size: $h1Fz_PC;
  font-weight: $h1Fw_PC;
  letter-spacing: 10px;
  line-height: 60px;
  font-family: $font_family_title;
  color: #4b4331;
}

@mixin h2_PC_vertical {
  font-size: $h2Fz_PC;
  font-weight: $h2Fw_PC;
  letter-spacing: 8px;
  line-height: 60px;
  font-family: $font_family_title;
  color: #4b4331;
}

@mixin h1_PC {
  font-size: $h1Fz_PC;
  font-weight: $h1Fw_PC;
  letter-spacing: $h1Ls;
  line-height: $h1Lh_PC;
  font-family: $font_family_title;
  color: #4b4331;
}

@mixin h2_PC {
  font-size: $h2Fz_PC;
  font-weight: $h2Fw_PC;
  letter-spacing: $h2Ls;
  line-height: $h2Lh_PC;
  font-family: $font_family_title;
  color: #4b4331;
}

@mixin h2_PC_EN {
  font-size: $h2Fz_PC_EN;
  font-weight: $h2Fw_PC;
  letter-spacing: $h2Ls_en;
  font-family: $font_family_en;
  color: #C2A16C;
}

@mixin h3_PC {
  font-size: $h3Fz_PC;
  font-weight: $h3Fw_PC;
  letter-spacing: $h3Ls;
  line-height: $h3Lh_PC;
  font-family: $font_family_title;
  color: #4b4331;
}

@mixin h4_PC {
  font-size: $h4Fz_PC;
  font-weight: $h4Fw_PC;
  letter-spacing: $h4Ls;
  line-height: $h4Lh_PC;
  font-family: $font_family_title;
  color: #4b4331;
}

@mixin h5_PC {
  font-size: $h5Fz_PC;
  font-weight: $h5Fw_PC;
  letter-spacing: $h5Ls;
  line-height: $h5Lh_PC;
  font-family: $font_family_content;
}

@mixin h6_PC {
  font-size: $h6Fz_PC;
  font-weight: $h6Fw_PC;
  letter-spacing: $h6Ls;
  line-height: $h6Lh_PC;
  font-family: $font_family_content;
}

@mixin subtitle_style {
  font-size: $pFz_PC;
  font-weight: $pFw_PC;
  letter-spacing: $pLs;
  font-family: $font_family_title;
}

@mixin paragraph_PC {
  font-size: $pFz_PC;
  font-weight: $pFw_PC;
  letter-spacing: $pLs;
  line-height: $pLh_PC;
  font-family: $font_family_content;
  color: #4b4331;
}

@mixin content_PC {
  font-size: $contentFz;
  font-weight: $pFw_PC;
  letter-spacing: $pLs;
  line-height: $pLh_PC;
  font-family: $font_family_content;
  color: #4b4331;
}

@mixin smallFont_PC {
  font-size: $smallFz_PC;
  font-weight: $smallFw_PC;
  letter-spacing: $smallLs;
  color: #4b4331;
}

@mixin header_PC {
  font-size: $pFz_PC;
  font-weight: $fWBold;
  letter-spacing: $pLs;
  line-height: $headerLh_PC;
  font-family: $font_family_title;
  color: #4b4331;
}

@mixin footer_PC {
  font-size: $pFz_PC;
  font-weight: $fWBold;
  letter-spacing: $pLs;
  line-height: $headerLh_PC;
  font-family: $font_family_title;
  color: #865A32;
}