main {
    background: url('/images/contact/bg_eggs.svg') repeat;
    position: relative;
}

img.wave {
    position: absolute;
    bottom: 0;
    z-index: 20;
}

section.form_inner {
    max-width: calc( $basewidth - 300px );
    width: 85%;
    margin: auto;
    padding: 270px 0;

    h1.title {
        @include h1;
        text-align: center;
    }

    span.english_title {
        @include paragraph_en;
        display: block;
        margin-bottom: 5%;
        text-align: center;
    }

    form.form_container {
        width: 100%;
        padding: 10%;
        border-radius: 30px;
        box-sizing: border-box;
        background-color: $normalColor;

        div.form_group {
            width: 100%;
            margin: 0 0 5%;
            display: flex;
            align-items: center;

            dt {
                width: 25%;
                align-items: center;

                span.required {
                    @include small_font;
                    margin-left: 12px;
                    padding: 8px 10px;
                    color: $normalColor;
                    border-radius: 50px;
                    background-color: $secondaryColor;
                }
    
                label {
                    @include paragraph;
                }
            }

            dd {
                flex: 1;
                
                input.input, textarea {
                    width: 100%;
                    padding: 25px;
                    margin-bottom: 5px;
                    box-sizing: border-box;
                    border-radius: 8px;
                    border: none;
                    background-color: #f7f6f5;
                }

                input.input:focus, textarea:focus {
                    outline: none;
                }

                textarea {
                    min-height: 250px;
                    resize: vertical;
                }
        
                .error_message {
                    @include small_font;
                    color: $importantColor;
                }

                label.checkbox {
                    display: inline-flex;
                    margin-right: 3%;
                    align-items: center;
                    cursor: pointer;
                }

                input[type='checkbox'] {
                    -webkit-appearance: none; 
                    appearance: none;
                    width: 25px;
                    height: 25px;
                    cursor: pointer;
                    margin-right: 10px;
                    border-radius: 6px; 
                    border: 1.5px solid $secondaryColor;
                }
                
                input[type='checkbox']:checked {
                    background-image: url('/images/contact/checkbox.svg');
                }

                span.question {
                    @include content_font;
                }
            }
        }
    }

    form.form_container > button.submit_btn {
        @include paragraph;
        display: block;
        margin: auto;
        padding: 6px 50px;
        cursor: pointer;
        border-radius: 100px;
        color: $normalColor;
        background-color: $primaryColor;
        transition: .2s;

        &:hover {
            transition: .2s;
            background-color: $hoverBtnColorB;
        }
    }
}

// 彈窗            
h3.modal_title {
    @include h3;
    text-align: center;
}

div.modal_img {
    // width: 22vw;
    // width: 400px;
    margin: auto;
    padding: 6% 0;
    width: clamp(200px,22vw,400px);
}