main {
    background-color: $productsBgColor;
}

section.prd_inner {
    max-width: $basewidth;
    width: 85%;
    display: flex;
    margin: auto;
    padding: 270px 0;

    div.prd_photos {
        width: 65%;
        margin-right: 5%;

        div#main_img {
            position: relative;
            width: 100%;
            padding-top: 100%; // 和width的%數一致，使長寬一樣長
            // 當容器的高度是0，那麼 padding 會撐開容器所有的高度，藉此做出一個正方形的容器。

            img {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                object-fit: cover; 
                object-position: center;
                border-radius: 10px;
            }
        }

        div.small_img_group {
            display: flex;
            padding-top: 20px;
            column-gap: 10px;

            img {
                width: 80px;
                height: auto;
                aspect-ratio: 1 / 1; 
                object-fit: cover;
                object-position: center;
                border-radius: 10px;
            }
        }
    }

    div.prd_info {

        h1.prd_name{
            @include product_name_font;
            font-size: $h4Fz_PC;
        }
        p.prd_features {
            @include paragraph;
            color: $secondaryText;
            margin: 20px 0;
        }
        p.prd_slogan {
            @include paragraph;
        }
        div.prd_price {
            margin: 40px 0 30px;

            span.title {
                @include paragraph;
                display: block;
            }
            span.current_price {
                @include priceFont_PC($subtitleText);
                padding-right: 10px;
            }
            del.original_price {
                @include content_font;
                color: $grayText;
                letter-spacing: 0.05rem;
            }
        }

        label.quantity_title {
            @include paragraph_PC;
        }

        div.quantity_selector {
            width: 30%;
            display: flex;
            padding: 10px;
            justify-content: space-between;
            color: $primaryText;
            border-radius: 5px;
            border: 1px solid $primaryText;
            
            button {
                @include content_PC;
                display: block;
                cursor: pointer;
                border: none;
                background: none;
            }

            input {
                width: 100%;
                display: block;
                text-align: center;
                font-size: $pFz_PC;
                font-family: $font_price;
                border: none;
                color: $primaryText;
                background: none;
            }
        }
    }
}