
section.header_container {
    position: relative;

    img.header_wave {
        @extend %header_wave;
    }
}

section.falling_eggs_container {
    position: relative;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-image: url('/images/products/falling_eggs.svg');
    animation: falling_loop 60s infinite linear;

    div.egg_intro {
        max-width: $basewidth;
        width: 80%;
        padding: 10% 0;
        margin: auto;
        text-align: center;

        @include large_tablets {
            padding: 10% 0 18%;
        }
        @include tablets {
            padding: 10% 0 30%;
        }
        @include large_phones {
            padding: 10% 0 38%;
        }

        h1 {
            @include h1;
            
            span.important_color {
                color:$importantColor;
            }
            span.secondary_color {
                color:$secondaryColor;
            }
        }

        p {
            @include paragraph;
            margin: 50px 0 0;
            line-height: 2.5;
        }
    }
}

@keyframes falling_loop {
    0% {
        background-position: center 100%;
    }
    100% {
        background-position: center 0;
    }
}


img.wave {
    display: block;
}
section.list {
    position: relative;
    padding: 5% 0 8%;
    background-color: $productsBgColor;

    @include tablets {
        padding: 8% 0;
    }

    // 裝飾 child & hen
    div.decoration:nth-child(1) {
        position: absolute;
        width: 100%;
        top: -1.5%;
        overflow: hidden;

        @include tablets {
            top: -20px;
        }
        @include large_phones {
            display: none;
        }

        img {
            width: 120%;

            @include tablets {
                width: 160%;
            }
        }
    }

    div.decoration:nth-child(2) {
        position: absolute;
        width: clamp(130px,22vw,300px);
        height: 10%;
        top: -12%;
        left: 10%;

        @include tablets {
            top: -4.5%;
        }

        img {
            width: 100%;
        }
    }

    div.decoration:nth-child(3) {
        position: absolute;
        width: clamp(100px,16vw,200px);
        top: -5%;
        right: 10%;

        @include tablets {
            top: -2%;
        }

        img {
            width: 100%;
        }
    }

    ul.list_inner {
        max-width: $basewidth;
        width: 80%;
        margin: auto;

        li {
            display: flex;
            padding: 5% 0;
            gap: 0 7%;
            align-items: center;
            justify-content: space-between;

            &:nth-child(even) {
                flex-direction: row-reverse;

                @include tablets {
                    flex-direction: column;
                }
            }

            @include tablets {
                flex-direction: column;
                padding: 8% 0;
            }
        }

        a.prd_img {
            width: 50%;
            position: relative;

            @include tablets {
                width: 100%;
            }

            &::before {
                content: '';
                width: 12%;
                height: 10%;
                position: absolute;
                bottom: 10%;
                right: 10%;
                z-index: 2;
                transform: rotate(-15deg);
                background: url('/images/products/footprint_1.svg') no-repeat;
            }

            img {
                width: 100%;
                border-radius: 50%;
                box-sizing: border-box; 
                border: 7px solid $normalColor;

                @include large_tablets {
                    border: 4px solid $normalColor;
                }
            }

            div.prd_click_bg {
                opacity: 0; 
                position: absolute;
                width: 100%; 
                height: 100%;
                border-radius: 50%;
                background-color: $productsBgColor;
                transition: .3s; 
            }

            &:hover .prd_click_bg {
                opacity: .6;
            }

            div.view_prd_circle {
                width: 150px;
                height: 150px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                opacity: 0; 
                border-radius: 50%;
                transition: .2s; 
                background-color: $importantBtnColor;

                @include large_phones {
                    display: none;
                }
                
                div.txt {
                    @include paragraph;
                    color: $normalColor;
                    text-align: center;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }

                .icon {
                    font-size: 2rem;
                }

                span {
                    display: block;
                }
            }

            &:hover .view_prd_circle {
                opacity: 1;
            }
        }

        div.prd_content {
            width: 50%;

            @include tablets {
                width: 100%;
            }

            div.logo {
                width: 70%;
                margin: auto;
                padding: 0 0 7%;
                
                img {
                    width: 100%;
                }

                @include tablets {
                    width: 50%;
                    padding: 4% 0;
                }
            }
    
            p.prd_intro {
                @include paragraph;
                margin-bottom: 7%;

                @include tablets {
                    margin-bottom: 5%;
                }
            }
    
            div.nutrition_facts {
                @include content_font;
                display: flex;
                padding: 3% 5%;
                margin-bottom: 7%;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                border-radius: 10px;
                color: $secondaryColor;
                background-color: $normalColor;
                border: 1px solid $secondaryColor;

                @include tablets {
                    margin-bottom: 5%;
                }
            }
    
            div.price_container {
                display: flex;
                align-items: center;

                @include large_phones {
                    display: block;
                    flex-direction: column;
                }
    
                div.pcs {
                    flex: 1;

                    @include large_phones {
                        margin-bottom: 5%;
                    }
    
                    span:nth-child(1) {
                        @include content_font;
                        padding-right: 15px;
                    }
                    
                    span:nth-child(2) {
                        @include price_font;
                        padding-right: 10px;
                    }
    
                    span:nth-child(3) {
                        @include content_font;
                        letter-spacing: 0;
                        color: $grayText;
                        text-decoration: line-through;
                    }
                }
                
                button.cart_btn {
                    @include paragraph;
                    color: $normalColor;
                    padding: 6px 30px;
                    border-radius: 50px;
                    cursor: pointer;
                    background-color: $importantBtnColor;
                    transition: .2s;

                    @include large_tablets {
                        padding: 6px 15px;
                    }
                    @include tablets {
                        padding: 6px 30px;
                    }
                    @include large_phones {
                        width: 100%;
                    }
                    
                    &:hover {
                        background-color: $hoverBtnColorY;                      
                    }
    
                    .cart_icon {
                        padding-right: 10px;
                    }
                }
            }
        }
    }
}
