
section.header_container {
    position: relative;

    img.header_wave {
        @extend %header_wave;
    }
}


section.falling_eggs_container {
    position: relative;
    width: 100%;

    div.egg_intro {
        max-width: $basewidth;
        padding: 150px 0 250px;
        margin: auto;
        text-align: center;

        h1 {
            @include h1_PC;

            span.important_color {
                color:$importantText;
            }

            span.secondary_color {
                color:$secondaryText;
            }
        }

        p {
            @include paragraph_PC;
            margin: 50px 0 0;
            line-height: 2.5;
        }
    }

    div.falling_eggs_bg {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;
        background-size: cover;
        background-image: url('/images/products/falling_eggs.svg');
        animation: falling_loop 60s infinite linear;
    }
}

@keyframes falling_loop {
    0%{
        background-position: center 100%;
    }
    100% {
        background-position: center 0;
    }

}

// 產品項目
section.list {
    max-width: 100%;
    position: relative;
    padding-bottom: 100px;
    background-color: $productsBgColor;

    img.wave03 {
        width: 100%;
        position: absolute;
        top: -100px;
        z-index: -1;
    }

    // 裝飾 child & hen
    div.illust {
        position: relative;

        div.decoration:nth-child(1) {
            position: absolute;
            width: 18%;
            top: -450px;
            left: 15%;

            img {
                width: 100%;
            }
        }

        div.decoration:nth-child(2) {
            position: absolute;
            width: 13%;
            top: -220px;
            right: 15%;

            img {
                width: 100%;
            }
        }

        div.decoration:nth-child(3) {
            position: absolute;
            width: 100%;
            top: -130px;
            // right: 15%;
            z-index: -1;

            img {
                width: 100%;
            }
        }
    }

    ul.list_inner {
        max-width: $basewidth;
        margin: auto;

        li {
            display: flex;
            padding: 50px 30px;
            gap: 0 100px;
            align-items: center;
            justify-content: space-between;

            &:nth-child(even) {
                flex-direction: row-reverse;
            }
        }

        a.prd_img {
            max-width: 50%;
            position: relative;

            img {
                width: 100%;
                border-radius: 50%;
                border: 7px solid #fff;
                box-sizing: border-box; 
            }

            div.prd_click {
                opacity: 0; 
                position: absolute;
                width: 100%; 
                height: 100%;
                border-radius: 50%;
                background-color: $productsBgColor;
                transition: 0.2s; 
            }

            &:hover .prd_click {
                opacity: .6;
            }

            div.view_prd_icon {
                @include content_PC($hoverBtnColorW);
                opacity: 0; 
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 70px; 
                height: 70px;
                padding: 20px;
                text-align: center;
                border-radius: 50%;
                background-color: $importantBtnColor;
                transition: 0.2s; 

                .icon {
                    font-size: 1.5rem;
                }

                span {
                    display: block;
                }
            }

            &:hover .view_prd_icon {
                opacity: 1;
            }
        }

        div.logo {
            width: 100%;
            text-align: center;
            margin-bottom: 40px;

            img {
                max-width: 100%;
            }
        }

        p.prd_intro_txt {
            @include paragraph_PC;
            margin-bottom: 40px;
        }

        div.nutrition_facts {
            @include paragraph_PC;
            display: flex;
            padding: 10px 30px;
            margin-bottom: 40px;
            align-items: center;
            justify-content: space-between;
            color: $secondaryText;
            background-color:#fff;
            border-radius: 10px;
            border: 1px solid $secondaryText;
        }

        div.price_container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            div.pcs {           

                span:nth-child(1) {
                    @include content_PC;
                    margin-right: 20px;
                }
                
                span:nth-child(2) {
                    @include priceFont_PC;
                    margin-right: 10px;
                }

                span:nth-child(3) {
                    @include content_PC;
                    text-decoration: line-through;
                }
            }

            
            button.cart_btn {
                @include paragraph_PC(#fff);
                padding: 5px 30px;
                border: none;
                border-radius: 50px;
                cursor: pointer;
                background-color: $importantBtnColor;
                transition: .2s;
                
                &:hover {
                    background-color: $hoverBtnColorY;                      
                }

                .cart_icon {
                    margin-right: 10px;
                }
            }
        }
    }
}

// 產品禮盒（組合）
img.wave04 {
    width: 100%;
    display: block;
}

section.set {
    max-width: 100%;
    position: relative;
    padding-bottom: 100px;
    background-color: $productsSetsBgColor;
}
