
main.form_container {
    margin: 270px 0;

    div.form_inner {
        margin: auto;
        max-width: 700px;
        box-sizing: border-box;
        padding: 40px 100px;
        border-radius: 30px;
        background-color: #f1f1f1;
        
        span.form_title {
            @include h5_PC;
            display: block;
            margin-bottom: 20px;
            text-align: center;
        }

        hr.divider {
            position: relative;
            overflow: inherit;
            margin: 40px 0;
            border: .5px solid $borderColor;

            &::before {
                content: "or";
                position: absolute;
                left: 50%;
                padding: 0 20px;
                transform: translate(-50%, -50%);
                color: $borderColor;
                background-color: #f1f1f1;
            }
        }
    }
}

form.sign_in_form {
    width: 100%;

    div.form_group {
        width: 100%;
        margin: 0 0 5%;
        align-items: center;

        label {
            @include content_PC;
            font-weight: $fWBold;
            margin-bottom: 20px;
        }

        input.input {
            width: 100%;
            padding: 20px;
            margin-bottom: 5px;
            box-sizing: border-box;
            border-radius: 8px;
            border: none;
            background-color: $normalColor;
        }

        input.input:focus {
            outline: none;
        }

        .error_message {
            @include small_font;
            color: $importantColor;
        }
    }

    button.sign_in_btn {
        @include paragraph;
        width: 100%;
        display: block;
        margin: auto;
        padding: 6px 0;
        cursor: pointer;
        border-radius: 8px;
        color: $normalColor;
        background-color: $primaryColor;
        transition: .2s;

        &:hover {
            transition: .2s;
            background-color: $hoverBtnColorB;
        }
    }
}