
img.set_wave {
    width: 100%;
    display: block;
    background-color: $productsBgColor;
}

section.set {
    position: relative;
    padding-bottom: 5%;

    @include large_phones {
        padding-bottom: 15%;
    }
}

section.sets_inner {
    position: relative;
    max-width: $basewidth;
    width: 85%;
    margin: auto;

    &::before {
        content: '';
        width: 15%;
        height: 5%;
        position: absolute;
        top: 9%;
        left: 10%;
        background: url('/images/products/sets/nest.svg') no-repeat;

        @include tablets {
            top: 6%;
            left: 6%;
        }
        @include large_phones {
            display: none;
        }
    }

    &::after {
        content: '';
        width: 15%;
        height: 5%;
        position: absolute;
        top: 8%;
        right: 10%;
        background: url('/images/products/sets/blackhen.svg') no-repeat;

        @include tablets {
            top: 6%;
            right: 6%;
        }
        @include large_phones {
            width: 20%;
            right: 0;
        }
    }
}

div.title {
    position: relative;
    padding: 8% 0;

    @include large_phones {
        padding: 15% 0 12%;
    }

    div.subtitle_icon {
        width: clamp(170px,15vw,260px);
        margin: auto;

        img {
            width: 100%;
        }
    }
    
    h2 {
        @include h2;
        padding-top: 5px;
        text-align: center;
    }
}

ul.sets_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
        width: 30%;
        padding-bottom: 8%;

        @include large_tablets {
            width: 45%;
        }
        @include large_phones {
            width: 47%;
            padding-bottom: 10%;
            text-align: center;
        }

        div.set_img {
            padding-bottom: 7%;
            cursor: pointer;

            img {
                width: 100%;
                border-radius: 50%;
            }
        }

        div.set_info {
            padding: 0 10px;

            h4.set_name {
                @include h4;
                color: $primaryTextColor;
                padding-bottom: 5%;
            }
    
            p.set_intro {
                @include content_font;
                color: $primaryTextColor;

                @include large_phones {
                    display: none;
                }
            }

            div.set_contents {
                @include tablets {
                    margin: 5% 0;
                    border-radius: 6px;
                    border: 1px solid $secondaryColor;
                }

                // 768px以下出現
                button.see_more_btn,
                button.see_less_btn {
                    width: 100%;
                    padding: 4% 0;
                    cursor: pointer;
                    background-color: transparent;
    
                    span {
                        @include content_font;
                        padding-right: 5px;
                        color: $secondaryColor;
                    }
                    
                    .arrow {
                        color: $secondaryColor;
                    }
                }
    
                div.contents {
                    padding: 20px 0;
    
                    @include tablets {
                        padding: 20px 15px;
                        border-top: 1px solid $secondaryColor;
                    }
    
                    span {
                        @include content_font;
                        color: $grayText;
                        display: block;
        
                        .check_box {
                            margin-right: 5px;
                            color: $secondaryColor;
                        }
                    }
                }
            }

            div.price_container {
                align-items: center;
                justify-content: space-between;

                div.price {
                    margin-bottom: 5%;

                    span:nth-child(1) {
                        @include price_font;
                        margin-right: 10px;
                    }

                    span:nth-child(2) {
                        @include content_font;
                        letter-spacing: 0;
                        color: $grayText;
                        text-decoration: line-through;
                    }
                }
           
                button.cart_btn {
                    @include paragraph;
                    width: 100%;
                    padding: 6px 20px;
                    border-radius: 50px;
                    cursor: pointer;
                    color: $normalColor;
                    background-color: $importantBtnColor;
                    transition: .2s;

                    .cart_icon {
                        padding-right: 10px;

                        @include large_phones {
                            display: none;
                        }
                    }

                    &:hover {
                        color: $normalColor;
                        background-color: $normalBtnColor;                      
                    }
                }
            }
        }
    }
}