
section.sets_inner {
    max-width: $basewidth;
    margin: auto;
}

div.title {
    position: relative;
    padding: 50px 0 80px;

    div.subtitle_icon {
        width: 20%;
        margin: auto;

        img {
            width: 100%;
        }
    }
    
    h2 {
        @include h2;
        color: $normalBgColor;
        text-align: center;
    }
}

ul.sets_container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    box-sizing: border-box;
    justify-content: space-between;

    li {
        max-width: 30%;
        padding-bottom: 100px;

        div.set_img {
            padding-bottom: 30px;
            img {
                width: 100%;
                border-radius: 50%;
            }
        }

        div.set_info {
            padding: 0 10px;

            span.set_name {
                @include product_name_font(#fff);
            }

            div.border_line {
                margin: 20px 0;
                border: .1px solid #fff;
            }
    
            p.set_intro {
                @include content_font;
                color: $normalBgColor;
            }
    
            div.contents {
                padding: 20px 0;

                span {
                    @include content_font;
                    color: $normalBtnColor;
                    display: block;
    
                    .check_box {
                        margin-right: 5px;
                        color: $normalBgColor;
                    }
                }
            }

            div.price_container {
                display: flex;
                justify-content: space-between;
                align-items: center;

                div.price {           
                    span:nth-child(1) {
                        @include content_font;
                        color: $normalBgColor;
                        margin-right: 20px;
                    }
                    
                    span:nth-child(2) {
                        @include priceFont_PC(#fff);
                        margin-right: 10px;
                    }

                    span:nth-child(3) {
                        @include content_font;
                        color: $normalBgColor;
                        text-decoration: line-through;
                    }
                }
           
                button.cart_btn {
                    @include paragraph;
                    padding: 5px 20px;
                    border: none;
                    border-radius: 50px;
                    cursor: pointer;
                    background-color: $normalBtnColor;
                    transition: .2s;

                    &:hover {
                        background-color: $hoverBtnColorW;                      
                    }
                }
            }
        }
    }
}