@import '@/assets/scss/base/fonts/fonts.scss';
@import '@/assets/scss/base/fonts/fonts-mixin.scss';
@import '@/assets/scss/base/color.scss';
@import '@/assets/scss/base/variable.scss';


%hover_rotate {
    transition: .2s;
    animation:rotate .5s ease;
    background-color: $hoverBtnColorB;
}

div.header_icon {
    display: flex;
    position: absolute;
    top: 0;
    right: 5%;
}

header {
    width: 100%;
    position: absolute;
    top: 30px;
    z-index: 100;


    div.header_inner {
        max-width: $basewidth;
        display: flex;
        margin: auto;    
        gap: 3%;
        align-items: center;
        justify-content: center;
    
    
        div.header_logo img {
            width: 120px;  
        }
    
        nav.header_nav {   
            width: 53%;
            height: 120px;
            display: flex;
            align-items: center;
            border-radius: 200px;
            justify-content: center;           
            background-color: #ffffff;
    
            ul.header_nav_list {
                flex: 0 1 75%;
                display: flex;
                justify-content: space-between;
    
                li {
                    @include header_PC;
                    // padding: 0 20px;
                    justify-content: center;
                    text-align: center;
    
                    .nav_link {   
                        text-decoration: none;                   
                        span.label {
                            color: $primaryText; 
                        }
                        span.label_en {
                            font-size: 14px;
                            color: $secondaryText;
                            font-family: $font_family_en;
                        }
                    }             
                }
            } 
        }
    
        div.contact_icon {   
            display: flex;
    
            div.email {
                
                .icon {
                    width: 30px;
                    height: 30px;
                    padding: 30px;
                    margin: 15px 0; 
                    font-size: 35px;          
                    border-radius: 50%;
                    color: $secondaryText;
                    background-color: #fff;
                    transition: .2s;              

                    &:hover {
                        @extend %hover_rotate;
                        color: white;
                    }
                }
            }

            div.social {
                margin: 15px 0;

                .icon {
                    color: #fff;
                }  

                .fb {
                    @extend %Social;
                    transition: .2s;
                    background-color: #485DA1;
                    
                    &:hover {
                        @extend %hover_rotate;
                    }
                }

                .ig {
                    @extend %Social;
                    transition: .2s;  
                    margin-top: 10px;
                    background-color: #D74C38;
                    
                    &:hover {
                        @extend %hover_rotate;
                    }
                }
            }
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        }
    to {
        transform: rotate(360deg);
        }
}