@import '@/assets/scss/base/fonts/_fonts.scss';
@import '@/assets/scss/base/fonts/_fonts-mixin.scss';
@import '@/assets/scss/base/color.scss';

header.header{
    width: 100%;
}

div.header_inner{
    position: relative;
    width: 1200px;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    top: 40px;


    div.header_logo img{
    width: 120px;  
    }


    nav.header_nav{   
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #cfcfcf;
        border-radius: 200px;     
        width: 830px;
        height: 130px;

        ul{
            display: flex;

            li {
                list-style: none;
                padding: 10px 20px 0 0;
                
                @include h6_PC;

                a {
                    text-decoration: none;   
                }
                

                span.black_text{
                    color: $primaryBlack;              
                }
                span.brown_text{
                    color: $primaryBrown;
                    font-family: "Hammersmith One";
                }
            }
        }
    
    }
}