@import '@/assets/scss/base/fonts/fonts.scss';
@import '@/assets/scss/base/fonts/fonts-mixin.scss';
@import '@/assets/scss/base/color.scss';
@import '@/assets/scss/base/variable.scss';



.member_login {
    position: relative;
    padding: 10px 20px;
    z-index: 1000; // 避免被header擋到
    cursor: pointer;
    text-decoration: none;
    background-color: #fff;
    border-radius: 0 0 20px 20px;

    &:hover {
        div.dropdown_menu {
            display: block;
        }       
    }
    
    div.login {
        @include content_PC;
    }
    
    div.dropdown_menu {
        display: none;
        @include content_PC;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 10px 0;  
        text-align: center;
        border-radius: 20px;
        background-color: #fff;
        border: 1px solid $borderColor;
    }
}

