@import '@/assets/scss/base/fonts/fonts.scss';
@import '@/assets/scss/base/fonts/fonts-mixin.scss';
@import '@/assets/scss/base/color.scss';
@import '@/assets/scss/base/variable.scss';



button.login_btn {
    @include content_PC;
    padding-right: 10px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    
}

ul.dropdown_menu {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        padding: 10px;
        cursor: pointer;
    }
  }